{% extends 'base.html.twig' %}

{% block title %}Ma bibliothèque | Livres{% endblock %}

{% block body %}

    {% include 'includes/_nav.html.twig' %}

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">

        <div id="books" class="w3-container" style="display: block">

            <!-- Header -->
            <div>
                <a href="#"><img src="..." style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
                <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()">
                    <i class="fa fa-bars"></i>
                </span>
                <div class="w3-container">
                    <h1 class="w3-center">
                        <b>Ma Bibliothèque</b>
                    </h1>

                    {% include 'includes/_alert.html.twig' %}

                    <div class="w3-bottombar w3-padding-16 w3-section">
                        <!-- MODAL AJOUT BOOK -->
                        <a href="{{path('book_new')}}" class="w3-button w3-black">Ajouter un livre</a>
                    </div>
                </div>

            </div>

            <div class="w3-container w3-row">
                <h2>Liste des livres</h2>

                <div class="w3-section w3-padding-16 w3-hide-small">
                    {# <span class="w3-margin-right">Filtre:</span>
                    <form class="" action="{{ path('book_index') }}" method="get">
                        <input class="w3-button w3-black" type="submit" name="category" value="Toutes catégories">
                        {% for category in categories %}
                        <input class="w3-button w3-white" type="submit" name="category" value="{{ category.name }}">
                        {% endfor %} #}
                        {{ form_start(form) }}
                            {{ form_row(form.name) }}
                            <input type="submit" value="{{ submit|default('Filtrer') }}">
                        {{ form_end(form) }}
                    {# </form> #}
                </div>

                <div class="w3-section w3-padding-16 w3-hide-medium w3-hide-large">
                    <span class="w3-margin-right">Filtre:</span>
                    <form class="w3-row" action="" method="post">

                        <select class="w3-button w3-border w3-white w3-col s12 w3-margin-bottom" name="filter">
                            <option value="Toutes catégories">Toutes catégories</option>

                            <option value="catégorie 1">Catégorie 1</option>

                        </select>
                        <input class="w3-button w3-black w3-col s12" type="submit" name="" value="Rechercher">
                    </form>
                </div>

                {% for book in books %}

                    <div class="w3-col s12 m4 l3 w3-padding ">
                        <a href="{{ path('book_show', {id : book.id}) }}">
                            <div class="w3-card-4 book-card">
    
                                <div class="square card-container">
    
                                    <div class="image-card card-content">

                                        <img 
                                        {% if book.image %} 
                                            src="{{asset('uploads/images/') ~ book.image.name}}" alt="{{ book.image.alt}}"
                                        {% else %} 
                                            src="{{asset('uploads/images/default.png')}}" alt="Image par défaut" 
                                        {% endif %} 
                                        class="image-card" width="100%">
    

    

                                    </div>
                                </div>
                                <div class="w3-container w3-center">
                                    <p>{{ book.title }}</p>
                                </div>
                            </div>
                        </a>
                    </div>

                {% endfor %}


            </div>

{# display navigation #}
<div class="w3-container w3-row">
    {{ knp_pagination_render(books) }}
</div>

        </div>

    </div>

{% endblock %}
